# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# IAR droppings
/iar/Debug
/iar/Release
/iar/settings
/iar/kuroBoxCustomSfr.sfr
/iar/kuroBox.dep
/iar/kuroBox.ewd

